.App {
  text-align: center;
}

body{
  background-color: #222121ad;
}

.btn{
  padding: 20px;
  border-radius: 15px;
  border: none;
  background-color: rebeccapurple;
  margin-top: 20px;
  color: white;
  cursor: pointer;
}

.userOutput{
  margin-top: 50px;
  font-size: 20px;
}

.accountBalance{
  color: #0d3d56;
  font-size: 20px;
}

.ownerAddress{
  color: orange;
  margin-top: 20px;

}




