.App {
  text-align: center;
}

body{
  background-color: #64646464;
}

.btn{
  padding: 20px;
  border-radius: 15px;
  border: none;
  background-color: rebeccapurple;
  margin-top: 20px;
  color: white;
  cursor: pointer;
}

.userOutput{
  margin-top: 50px;
  font-size: 20px;
}




